<section>
    <div class="container">
        <div class="row" style="margin: 2cm;">
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-header">
                      <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <button class="btn cbtn offset-md-4" (click)="signin()" style="float: center; align-self: center;">Google Signin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>